@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe</h1>

    <p>We at Cowboy Cafe are proud to bring you authentic trail meals 
    from the American West. Shake off the dust on your boots and sake 
    your thirst with one of our old-fashioned hand-jerked sodas. Dip 
    your Pan de Campo into a bowl of beans. Or conquer the the mighty 
    Texas Triple Burger! You’ve had a hard ride - so take it easy with 
    us.</p>
</div>

<div class="text-center">

    <h2>Entrees</h2>

    @{
        IEnumerable<IOrderItem> EntreeList = Menu.Entrees();

        foreach (var e in EntreeList)
        {
            <div class="entree-item">
                <!--Entree Name-->
                <div class="entree-name">
                    <b>@e.ToString()</b>
                </div>

                <!--Calories-->
                <div class="entree-calories">
                    <i>Calories: @e.Calories</i>
                </div>

                <!--Price-->
                <div class="entree-price">
                    <i>Price: @e.Price.ToString("c")</i>
                </div>
            </div>
        }
    }


    <h2>Sides</h2>

    @{
        IEnumerable<IOrderItem> SideList = Menu.Sides();

        foreach (CowboyCafe.Data.Sides.Side s in SideList)
        {
            foreach (CowboyCafe.Data.Enums.Size si in Enum.GetValues(typeof(CowboyCafe.Data.Enums.Size)))
            {
                s.Size = si;

                <div class="side-item">

                    <!--Side Name-->
                    <div class="side-name">
                        <b>@s.ToString()</b>
                    </div>

                    <!--Calories-->
                    <div class="side-calories">
                        <i>Calories: @s.Calories</i>
                    </div>

                    <!--Price-->
                    <div class="price-price">
                        <i>Price: @s.Price.ToString("c")</i>
                    </div>
                </div>
            }

        }
    }

    <h2>Drinks</h2>
    @{
        IEnumerable<IOrderItem> DrinkList = Menu.Drinks();

        foreach (CowboyCafe.Data.Drinks.Drink d in DrinkList)
        {
            foreach (CowboyCafe.Data.Enums.Size si in Enum.GetValues(typeof(CowboyCafe.Data.Enums.Size)))
            {
                d.Size = si;

                <div class="drink-item">

                    <!--Side Name-->
                    <div class="drink-name">
                        <b>@d.ToString()</b>
                    </div>

                    <!--Calories-->
                    <div class="drink-calories">
                        <i>Calories: @d.Calories</i>
                    </div>

                    <!--Price-->
                    <div class="drink-price">
                        <i>Price: @d.Price.ToString("c")</i>
                    </div>
                </div>
            }
            if (d is CowboyCafe.Data.Drinks.JerkedSoda)
            {
                <h3>Flavor options for Jerked Soda</h3>
                @foreach (CowboyCafe.Data.Enums.SodaFlavor sf in Enum.GetValues(typeof(CowboyCafe.Data.Enums.SodaFlavor)))
                {
                    <div class="flavor-options">
                        <p>@sf.ToString()</p>
                    </div>
                }
            }
        }
    }
</div>
